@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --dark: rgb(39 39 42);
}

.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.Weather {
  background: url("https://images.unsplash.com/photo-1633178418565-b3c7a6ddb02a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
  background-size: cover;
  background-position: right center;
  min-width: 320px;
  max-width: 320px;
  max-height: 100px;
}

.WeatherForecast {
  background: url("https://images.unsplash.com/photo-1570006445006-b625fd63d7d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=708&q=80");
  background-size: cover;
  background-position: top;
  min-width: 320px;
  max-width: 320px;
  min-height: 400px;
}

.Dreamary {
  background: rgb(217, 63, 251);
  background: linear-gradient(
    225deg,
    rgba(217, 63, 251, 1) 0%,
    rgba(252, 70, 181, 1) 100%
  );
  min-width: 320px;
  max-width: 320px;
  min-height: 520px;
}

.ToDos {
  background: rgb(180, 255, 156);
  background: linear-gradient(
    225deg,
    rgba(180, 255, 156, 1) 0%,
    rgba(49, 255, 90, 1) 100%
  );
  min-width: 320px;
  min-height: 300px;
  max-width: 320px;
}

.Naturely {
  background: url("https://images.unsplash.com/photo-1518173946687-a4c8892bbd9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80");
  background-size: cover;
  min-width: 320px;
  min-height: 520px;
  max-width: 320px;
}

.Settings {
  background: rgb(119, 119, 119);
  background: linear-gradient(
    45deg,
    rgba(119, 119, 119, 1) 0%,
    rgba(213, 213, 213, 1) 100%
  );
  min-width: 320px;
  min-height: 520px;
  max-width: 320px;
}

.Calendar {
  background: rgb(255, 244, 156);
  background: linear-gradient(
    225deg,
    rgba(255, 244, 156, 1) 0%,
    rgba(255, 209, 56, 1) 100%
  );
  min-width: 320px;
  min-height: 200px;
  max-width: 320px;
}

.Strava {
  background: rgb(255, 202, 156);
  background: linear-gradient(
    225deg,
    rgba(255, 202, 156, 1) 0%,
    rgba(252, 76, 2, 1) 100%
  );
  min-width: 320px;
  max-width: 320px;
  min-height: 330px;
  max-height: 330px;
}

.Sportify {
  background: rgb(156, 161, 255);
  background: linear-gradient(
    225deg,
    rgba(156, 161, 255, 1) 0%,
    rgba(140, 33, 255, 1) 100%
  );
  min-width: 320px;
  max-width: 320px;
  min-height: 170px;
}

.tile {
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
}

.tile-big {
  width: 136px;
  height: 142px;
}

.tile-xl {
  width: 288px;
  height: 190px;
}

.forecaster {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-x: scroll;
}

.forecast-text {
  text-shadow: 0px 0px 2px #00000070;
}

.forecaster::-webkit-scrollbar {
  display: none;
}

.activities {
  min-height: 92px;
  max-height: 92px;
  overflow-y: scroll;
  background-position: center;
  background-size: cover;
}

.activity {
}

.activity-name {
  max-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scroll-container {
  overflow: scroll !important;
}

.text-2xs {
  font-size: 0.6rem;
  line-height: 1rem /* 16px */;
}

.text-3xs {
  font-size: 0.5rem;
  line-height: 1rem /* 16px */;
}
